<%= render "login" %>

<h1>
  Name: <%= @user.name %>
</h1>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %> |
<%= link_to 'Delete', user_path(@user),
                      method: :delete,
                      data: { confirm: "Are you sure?" } %>

<h2>Your Pirates:</h2>
<ul>
  <% @pirates.each do |pirate| %>
    <li>
      <%= link_to pirate.name, user_pirate_path(@user, pirate) %>
    </li>
  <% end %>
</ul>

<h2>Create a new pirate:</h2>
<%= render 'pirates/form' %>
