<h1><%= pirate.name %></h1>

<p>
  <strong>Gold:</strong>
  <%= pirate.gold %>
</p>

<p>
  <strong>Status:</strong>
  <%= pirate.status %>
</p>

<p>
  <strong>Prestige:</strong>
  <%= pirate.prestige %>
</p>

<%= link_to "Delete", pirate_path(pirate),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
