<%= render "users/login" %>

<h2>What ship would you like to board?</h2>

<ul>
  <% @ships.each do |ship| %>
    <li>
      <strong><%= link_to ship.name, user_pirate_ship_path(@user, @pirate, ship) %></strong>
      occupied:
      <%= @pirates.select { |p| p.ship_id == ship.id }.count %>
      / <%= ship.capacity %>
    </li>
  <% end %>
</ul>

<p><%= link_to 'Create a new ship', new_user_pirate_ship_path %></p>
<p><%= link_to 'Back', user_pirate_path(@user, @pirate) %></p>